<div class="main-container">
  <div class="photo-container">
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="156"
      height="110"
      viewBox="0 0 156 110"
      fill="none"
    >
      <circle cx="4" cy="4" r="4" fill="#328B56" />
      <circle cx="4" cy="38" r="4" fill="#328B56" />
      <circle cx="4" cy="72" r="4" fill="#328B56" />
      <circle cx="4" cy="106" r="4" fill="#328B56" />
      <circle cx="41" cy="4" r="4" fill="#328B56" />
      <circle cx="41" cy="38" r="4" fill="#328B56" />
      <circle cx="41" cy="72" r="4" fill="#328B56" />
      <circle cx="41" cy="106" r="4" fill="#328B56" />
      <circle cx="78" cy="4" r="4" fill="#328B56" />
      <circle cx="78" cy="38" r="4" fill="#328B56" />
      <circle cx="78" cy="72" r="4" fill="#328B56" />
      <circle cx="78" cy="106" r="4" fill="#328B56" />
      <circle cx="115" cy="4" r="4" fill="#328B56" />
      <circle cx="115" cy="38" r="4" fill="#328B56" />
      <circle cx="115" cy="72" r="4" fill="#328B56" />
      <circle cx="115" cy="106" r="4" fill="#328B56" />
      <circle cx="152" cy="4" r="4" fill="#328B56" />
      <circle cx="152" cy="38" r="4" fill="#328B56" />
      <circle cx="152" cy="72" r="4" fill="#328B56" />
      <circle cx="152" cy="106" r="4" fill="#328B56" />
    </svg>
    <div class="cube"></div>
    <img [src]="img" alt="exclusive-photo" class="img" />
  </div>
  <div class="date-container">
    <h3 class="title">Exclusive offer</h3>
    <p class="desc">
      Unlock the ultimate style upgrade with our exclusive offer Enjoy savings
      of up to 40% off on our latest New Arrivals
    </p>
    <div class="expire-date">
      <div class="date">
        <span class="number">06</span><br /><span class="expirationDay"
          >Days</span
        >
      </div>
      <div class="date">
        <span class="number"> 18</span> <br /><span class="expirationDay"
          >Hours</span
        >
      </div>
      <div class="date">
        <span class="number">48</span> <br /><span class="expirationDay"
          >Min</span
        >
      </div>
    </div>
    <button class="btn">BUY NOW</button>
  </div>
</div>
