<div class="main-container">
  <div class="text-container">
    <h1 class="hero-text">Discover and Find Your Own Fashion!</h1>
    <p class="text-p">
      Explore our curated collection of stylish clothing and accessories
      tailored to your unique taste.
    </p>
    <button class="btn">EXPLORE NOW</button>
  </div>
  <div class="photo-container">
    <div class="svg1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="110"
        height="90"
        viewBox="0 0 119 110"
        fill="none"
      >
        <circle cx="4" cy="4" r="4" fill="#267144" />
        <circle cx="4" cy="38" r="4" fill="#267144" />
        <circle cx="4" cy="72" r="4" fill="#267144" />
        <circle cx="4" cy="106" r="4" fill="#267144" />
        <circle cx="41" cy="4" r="4" fill="#267144" />
        <circle cx="41" cy="38" r="4" fill="#267144" />
        <circle cx="41" cy="72" r="4" fill="#267144" />
        <circle cx="41" cy="106" r="4" fill="#267144" />
        <circle cx="78" cy="4" r="4" fill="#267144" />
        <circle cx="78" cy="38" r="4" fill="#267144" />
        <circle cx="78" cy="72" r="4" fill="#267144" />
        <circle cx="78" cy="106" r="4" fill="#267144" />
        <circle cx="115" cy="4" r="4" fill="#267144" />
        <circle cx="115" cy="38" r="4" fill="#267144" />
        <circle cx="115" cy="72" r="4" fill="#267144" />
        <circle cx="115" cy="106" r="4" fill="#267144" />
      </svg>
    </div>
    <img [src]="img" alt="photo" class="hero-photo" />

    <div class="svg2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="110"
        height="90"
        viewBox="0 0 119 110"
        fill="none"
      >
        <circle cx="4" cy="4" r="4" fill="#267144" />
        <circle cx="4" cy="38" r="4" fill="#267144" />
        <circle cx="4" cy="72" r="4" fill="#267144" />
        <circle cx="4" cy="106" r="4" fill="#267144" />
        <circle cx="41" cy="4" r="4" fill="#267144" />
        <circle cx="41" cy="38" r="4" fill="#267144" />
        <circle cx="41" cy="72" r="4" fill="#267144" />
        <circle cx="41" cy="106" r="4" fill="#267144" />
        <circle cx="78" cy="4" r="4" fill="#267144" />
        <circle cx="78" cy="38" r="4" fill="#267144" />
        <circle cx="78" cy="72" r="4" fill="#267144" />
        <circle cx="78" cy="106" r="4" fill="#267144" />
        <circle cx="115" cy="4" r="4" fill="#267144" />
        <circle cx="115" cy="38" r="4" fill="#267144" />
        <circle cx="115" cy="72" r="4" fill="#267144" />
        <circle cx="115" cy="106" r="4" fill="#267144" />
      </svg>
    </div>
  </div>
</div>
